body {
    margin: 0;
    background-color: #f0f0f0;
    padding-top: 10px; /* Adjust this value to create space for the h1 */
}

h1 {
    margin: 0;
    color: #c50000;
    font-size: 100px;
    /* text-align: center; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    font-family: "kepler-std-display", serif;
    font-weight: 600;
    font-style: normal;
    transition: opacity 0.3s ease;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0 10px;
    margin-top: 120px; /* Adjust this value to move the table content down */
    font-family: "kepler-std-display", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
}



th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    font-weight:bold;
    color: #c50000;
}

tr:not(.expandable-details):nth-child(odd) {
    background-color: #f0f0f0; /* Alternate background color for normal rows */
}

tr:not(.expandable-details):hover {
    background-color: #e5e5e5; /* Highlight normal rows on hover */
}

td:first-child {
    border-right: 1px solid black; /* Add right border for the first column only */
    width: 10%;
}

td:nth-child(2) {
    width: 15%; /* Fixed width for the second column */
}

td:nth-child(3) {
    width: 32%; /* Fixed width for the third column */
}

td:nth-child(4) {
    width: 20%; /* Fixed width for the fourth column */
}

td:nth-child(5) {
    width: 10%; /* Fixed width for the fourth column */
}

tr:not(.expandable-details) {
    border-bottom: 1px solid black; /* Dotted line border for normal rows */
}

.expandable-details {
    display: none;
    background-color: black;
    color: #f0f0f0;
}
