body {
    margin: 0;
    background-image: url(../project-3/images/vg_grassback.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 100vh; 
    position: relative;
    z-index: 1;
}

@font-face {
    font-family: 'PPeditorial'; 
    src: url('../project-3/PPEditorialNew-UltralightItalic.otf') format('opentype'); 
  }

  h1 {
    color: rgb(255, 222, 18);
    font-size: 100px;
    padding-top: 25vh;
    text-align: center;
    position: relative;
    z-index: 2;
    font-family: "PPeditorial", serif;
    font-weight: 300;
    font-style: normal;
}

p {
    color: rgb(255, 222, 18);
    font-size: 40px;
    text-align: center;
    margin-top: 0; 
    margin-bottom: 5vh;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.rounded-text {
    width: 200px;
    margin: 0 auto; 
    border: 2px solid rgb(255, 222, 18);
    border-radius: 20px;
    padding: 5px 10px;
}

body *:not(a) {
    filter: blur(0); 
    transition: filter 0.3s ease; 
}

a:hover ~ *:not(a) {
    filter: blur(5px); 
}


a {
    text-decoration: none;
}

.img1 {
    left: 35px;
    top: 60px;
    position: absolute;
    z-index: 2;
  max-width: 200px;
  transition: all 0.3s ease;
  transform: scale(1);
}


.img2 {
    left: 230px;
    top: 200px;
    position: absolute;
    z-index: 2;
  max-width: 200px;
  transition: all 0.3s ease;
  transform: scale(1);
}


.img3 {
    left: 65px;
    top: 360px;
    position: absolute;
    z-index: 2;
  max-width: 200px;
  transition: all 0.3s ease;
  transform: scale(1);
}


.img4 {
    left: 385px;
    top: 20px;
    position: absolute;
    z-index: 2;
  max-width: 200px;
  transition: all 0.3s ease;
  transform: scale(1);
}

.img5 {
    left: 495px;
    top: 270px;
    position: absolute;
    z-index: 2;
  max-width: 200px;
  transition: all 0.3s ease;
  transform: scale(1);
}


.img6 {
    left: 625px;
    top: 460px;
    position: absolute;
    z-index: 2;
  max-width: 200px;
  transition: all 0.3s ease;
  transform: scale(1);
}

.img7 {
    left: 775px;
    top: 235px;
    position: absolute;
  max-width: 200px;
  transition: all 0.3s ease;
  transform: scale(1);
}

.img8 {
    left: 940px;
    top: 70px;
    position: absolute;
  max-width: 200px;
  transition: all 0.3s ease;
  transform: scale(1);
}

.img9 {
    left: 1150px;
    top: 215px;
    position: absolute;
  max-width: 200px;
  transition: all 0.3s ease;
  transform: scale(1);
}

.gallery {
    height: 100%;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
}

.movingImage {
    position: absolute;
    height: auto;
    width: 120px;
    z-index: 0; 
}

@media only screen and (max-width: 390px) {
    .movingImage {
        position: absolute;
        height: auto;
        width: 45px;
        z-index: 0; 
    }

    h1 {
        color: rgb(255, 222, 18);
        font-size: 54px;
        padding-top: 45vh;
        text-align: center;
        position: relative;
        z-index: 2;
        font-family: "PPeditorial", serif;
        font-weight: 300;
        font-style: normal;
    }
    
    p {
        color: rgb(255, 222, 18);
        font-size: 30px;
        text-align: center;
        margin-top: 0; 
        margin-bottom: 5vh;
        font-family: "neue-haas-grotesk-display", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .rounded-text {
        width: 140px;
        margin: 0 auto; 
        border: 2px solid rgb(255, 222, 18);
        border-radius: 20px;
        padding: 5px 10px;
    }
}